mj-wrapper
    mj-section(padding="0px" mj-class="bgT1")
        mj-column
            mj-text(padding="0" align="center" mj-class="cTW") ... et bien plus encore sur le store Netgear
            mj-button(mj-class="bgW cT1") Découvrir
    mj-section(padding="0px" mj-class="bgW")
        mj-column
            mj-text(padding="0" align="center") * Offre valable sur la sélection suivante : RBK852WM-100EUS, RBK853WM-100EUS,RBK854WM-100EUS et RBK855WM-100EUS.
            mj-text(padding="0" align="center") Offre valable jusqu'au 26 juillet inclus et dans la limite des stocks disponibles.