mj-wrapper
    mj-section(padding="0px" mj-class="bgB")
        mj-column
            mj-text(padding="0" align="center" mj-class="T35-300 cTW" letter-spacing="2px") Votre support mural offert à l'achat d'un Système Mesh Orbi WiFi 6
    mj-section(padding="0px" mj-class="bgW")
        mj-column
            mj-image(padding="0" width="700px" src="./images/illustrationHeader.jpg" alt="")/
    mj-section
        mj-column
            mj-text(padding="0" align="center" mj-class="T26-500 cB" letter-spacing="1px") Systèmes Mesh Orbi WiFi 6 AX6000
            mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Si vous voulez le meilleur pour vous et votre famille et que vous recherchez la couverture WiFi la plus rapide qui soit, il est temps d'opter pour un #[strong système Mesh Orbi WiFi 6 AX6000].
            mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong Ne manquez pas notre offre du moment&nbsp;!] Pour l'achat d'un pack Orbi référencé ci-dessous, recevez un support mural pour chaque satellite. Ce support vous permettra de #[strong positionner votre Orbi de manière optimale], sans perdre d'espace sur votre console, étagère ou bureau.