mj-section
    mj-column
        mj-text Votre support mural offert à l'achat d'un Système Mesh Orbi WiFi 6
mj-section
    mj-column
        mj-image(src="./images/illustrationHeader.jpg" alt="")
mj-section
    mj-column
        mj-text Systèmes Mesh Orbi WiFi 6 AX6000
        mj-text Si vous voulez le meilleur pour vous et votre famille et que vous recherchez la couverture WiFi la plus rapide qui soit, il est temps d'opter pour un système Mesh Orbi WiFi 6 AX6000.
        mj-text Ne manquez pas notre offre du moment ! Pour l'achat d'un pack Orbi référencé ci-dessous, recevez un support mural pour chaque satellite. Ce support vous permettra de positionner votre Orbi de manière optimale, sans perdre d'espace sur votre console, étagère ou bureau.