mj-wrapper
    mj-section
        mj-column
            mj-image(padding="0" align="center" src="./images/rbk852.jpg" alt="")/
            mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
            mj-text(padding="0" align="center") (RBK852) Jusqu'à 460m2
            mj-text(padding="0" align="center") + 1 support mural
            mj-text(padding="0" align="center") 819.99€ 799.99€
            mj-button(mj-class="bgB") J'en profite
        mj-column
            mj-image(padding="0" align="center" src="./images/rbk853.jpg" alt="")/
            mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
            mj-text(padding="0" align="center") (RBK853) Jusqu'à 690m2
            mj-text(padding="0" align="center") + 2 supports muraux
            mj-text(padding="0" align="center") 1139.99€ 1069.99€
            mj-button(mj-class="bgB") J'en profite
    mj-section(padding="0px" mj-class="bgW")
        mj-column
            mj-image(padding="0" width="700px" src="./images/illustrationProduits.jpg" alt="")/
    mj-section(padding="0px" mj-class="bgW")
        mj-column
            mj-image(padding="0" align="center" src="./images/rbk854.jpg" alt="")/
            mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
            mj-text(padding="0" align="center") (RBK854) Jusqu'à 920m2
            mj-text(padding="0" align="center") + 3 supports muraux
            mj-text(padding="0" align="center") 1609.99€ 1469.99€
            mj-button(mj-class="bgB") J'en profite
        mj-column
            mj-image(padding="0" align="center" src="./images/rbk855.jpg" alt="")/
            mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
            mj-text(padding="0" align="center") (RBK855) Jusqu'à 1150m2
            mj-text(padding="0" align="center") + 4 supports muraux
            mj-text(padding="0" align="center") 2079.99€ 1829.99€
            mj-button(mj-class="bgB") J'en profite